.axit {
  max-width: 100%;
  padding: 6.8rem 0;
  background-image: url(../img/background-axit.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.axit::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
}

.container-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0.9375rem;
}

.axit-logo-ax {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 3.75rem;
  padding-bottom: 2rem;
  line-height: 70px;
  color: #ffffff;
}

.axit-logo-ax::after {
  content: "IT";
  color: #ec7979;
  font-size: 3.75rem;
}

.title {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 42px;
}

.axit-title {
  max-width: 34rem;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 2.25rem;
  color: #ffffff;
  line-height: 42px;
}

.axit-line {
  max-width: 4rem;
  margin-top: 1.56rem;
  margin-right: auto;
}
.axit-line-dec {
  border: none;
  background-color: #ffffff;
  color: #ffffff;
  height: 1px;
}

.axit-text {
  padding-top: 2.44rem;
  padding-bottom: 2.44rem;
  max-width: 15.625rem;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.8);
}

.axit-download-text {
  padding: 0.688rem 2.188rem;
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  outline: none;
  background: transparent;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 0.94rem;
  text-align: center;
  color: #ffffff;
}

.axit-download-text:hover {
  transform: scale(1.6);
  cursor: pointer;
}

.axit-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 0.5rem;
  max-width: 23rem;
  padding-top: 1.25rem;
}

.form-items {
  padding: 1.81rem 3.67rem;
  max-width: 23rem;
}

.form-title {
  display: flex;
  align-items: center;
  text-align: center;
  color: #333333;
  text-transform: capitalize;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 27px;
  margin-bottom: 4.56rem;
}

.form-span {
  white-space: pre-wrap;
  text-transform: uppercase;
  color: #ec7979;
}

.form-item-title {
  display: block;
  padding-bottom: 1.25rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 19px;
  color: #bdbdbd;
}

.form-item-field {
  width: 100%;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 1.25rem;
  outline: none;
}

.axit-buttom-text {
  outline: none;
  background-color: #ec7979;
  border: 0 solid;
  padding: 0.938rem 0;
  max-width: 23rem;
  border-radius: 0 0 0.5rem 0.5rem;
  color: white;
  font-size: 0.938rem;
}
