.axit {
  width: 100%;
  background-image: url(../img/background-axit.png);
  padding: 36px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.axit::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.45);
}

.axit-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  flex-direction: row;
}

.axit-line-main {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
}

.axit-logotip-name {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 35px;
  padding: 0;
  color: #ffffff;
  border: none;
}

.axit-logotip-name::after {
  content: "IT";
  color: #ec7979;
}

.axit-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  margin-top: 32px;
}

.axit-title::after {
  content: "";
  width: 64px;
  height: 2px;
  display: block;
  margin-top: 32px;
  background-color: rgba(255, 255, 255, 0.8);
}

.axit-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-top: 35px;
  position: relative;
  z-index: 10;
}

.axit-description-text {
  max-width: 260px;
}

.axit-bottom {
  margin-top: 40px;
}

.axit-bottom-name {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}

.axit-form {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  max-width: 540px;
}
.form-label {
  color: #bdbdbd;
  margin-bottom: 10px;
}
.axit-input {
  display: flex;
  flex-direction: column;
  padding: 0 60px;

  border: 0;
  border: 1px solid #ccc;
  height: 40px;
  padding-left: 10px;
  outline: 0;
}

.form-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 73px;
}

.form-title-name {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ec7979;
}

.form-label {
  color: #bdbdbd;
  margin-bottom: 10px;
}
.axit-input-column {
  padding: 29px 59px;
}

.axit-input {
  margin-bottom: 20px;
  font-weight: 700;
  background: transparent;
  border-bottom: 1px solid black;
  outline: none;
  border: none;
}

.input {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: black;
  border-bottom-width: 2px; /
}

.get-stat {
  border: none;
  padding: 19px 0;
  color: #ffffff;
  background-color: #ec7979;
  font-size: 15px;
  font-weight: 600;
  border-radius: 0 0 8px 8px;
  transition: all 0.5s;
  cursor: pointer;
}
