.contact {
  width: 100%;
  background-color: white;
  padding: 100px 0;
}

.contact-title {
  text-align: center;
}

.contact-title::after {
  content: "";
  width: 67px;
  height: 2px;
  display: block;
  margin: 30px auto;
  background-color: #d98943;
}

.contact-description {
  margin-top: 30px;
}

.contact-button {
  margin: auto;
}

.contact-button-send {
  display: block;
  background-color: #ec7979;
  border: 0 solid;
  width: 166px;
  font-size: 15px;
  transition: 0.3s ease;
  margin: auto;
  margin-top: 70px;
  padding: 13px 0;
  color: white;
}

.contact-button-send:hover {
  box-shadow: 0 0 2px 2px rgba(8, 110, 33, 0.55);
}

.contact-form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 0 15px;
}
.contact-form-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-description {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 91px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 19px;

  color: #86878b;
}

.form-items-decoratons-text {
  display: block;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 19px;
  padding-bottom: 32px;
  padding-top: 32px;

  color: #bdbdbd;
}

.contact-text {
  width: 478px;
  resize: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #bdbdbd;
  transform: rotate(0.38deg);
}

.contact-form-buttom {
  text-align: center;
  margin: auto;
  margin-top: 67px;
}

.contact-buttom {
  padding: 11px 32px;
  background: #ec7979;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 0.96rem;
  outline: none;
  text-align: center;
}

.contact-buttom:hover {
  transform: scale(1.4);
  cursor: no-drop;
}
