.feature {
  width: 100%;
  padding: 80px 0;
}

.tabs-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 15px;
}

.tabs-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 120px;
}

.tabs-list-item-buttom {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 0.7rem;
  line-height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333333;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
  font-family: Open Sans;
  color: #ffffff;
}

.tabs-list-item-buttom:hover {
  background-color: #ec7979;
  background: #ec7979;
  transform: scale(1.4);
}

.tabs-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tabs-text-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
}

.tabs-text-discription {
  display: flex;
  max-width: 570px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 19px;
  align-items: center;
  text-transform: uppercase;
  color: #86878b;
}

.tabs-text-buttom-download {
  outline: none;
  width: 135px;
  padding: 11px 32px;
  background: #ec7979;
  border: 1px solid #ffffff;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 0.938rem;
  text-align: center;
  color: #ffffff;
}

.tabs-text-buttom-download:hover {
  transform: scale(1.4);
  cursor: pointer;
}

.tabs-img {
  max-width: 320px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: start;
  margin: auto;
}
