.feature {
  width: 100%;
  padding: 6.25rem 0;
}

.tabs-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -0.94rem;
}

.tabs-list {
  display: flex;
  flex-direction: column;
  margin: 10 0.94rem;
  justify-content: space-between;
}

.tabs-list-item {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 0.94rem;
  line-height: 1.3rem;
  text-align: center;
  color: #ffffff;
  background-color: #333333;
  padding: 2.8rem 2.2rem;
  border-radius: 8px;
  margin-bottom: 0.625rem;
  transition: 0.5s;
}

.tabs-list-item:hover {
  background-color: #ec7979;
  transform: scale(1.6);
}

.tabs-text {
  max-width: 32rem;
  margin: 0 0.94rem;
}

.tabs-text-title {
  text-transform: uppercase;
}

.tabs-png {
  margin: 0 0.94rem;
}

.tabs-text-title h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.8rem;
  color: #000000;
}

.tabs-text-discription h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 0.85rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  color: #86878b;
  margin-top: 3rem;
}

.tabs-download {
  margin: 6rem auto 0;
}

.tabs-download a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 0.935rem;
  line-height: 1.25rem;
  color: #ffffff;
  text-decoration: none;
  padding: 0.68rem 1.93rem;
  text-align: center;
  border: 1px solid #ffffff;
  background-color: #ec7979;
}
