.header {
  max-width: 100%;
  background-color: black;
  padding: 15px 0;
}

.header-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 15px;
}

.header-logotip-name {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 1.875rem;
  line-height: 35px;
  color: #ffffff;
  border: none;
}

.header-logotip-name::after {
  content: "IT";
  color: #ec7979;
  font-size: 1.875;
}

#menu-toggle {
  opacity: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 580px;
  justify-content: space-between;
}

.menu-point {
  margin-left: 48px;
}

.menu-point-href {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  position: relative;
  font-size: 0.938rem;
  padding: 0;
}

.menu-point-href:hover {
  text-decoration: underline;
  text-decoration-color: #ec7979;
  text-decoration-thickness: 5px;
  text-decoration-style: solid;
}
