.testimonial {
  width: 100%;
  background-color: white;
  padding: 100px 0;
}

.testimonial-title {
  text-align: center;
}

.testimonial-title::after {
  content: "";
  width: 67px;
  height: 2px;
  display: block;
  margin: 30px auto;
  background-color: #d98943;
}

.testimonial-description {
  margin-top: 30px;
}

.testimonial-row {
  margin: 76px -15px 0;
}

.testimonial-row-item {
  display: flex;
  max-width: 298px;
  margin: 0 15px 20px;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 5px 5px;
  transition: 1s;
}

.testimonial-row-item:hover {
  box-shadow: 0 7px 15px rgba(204, 17, 17, 0.25);
  transition: 0.4s;
  border-radius: 15px;
}

.testimonial-row-text {
  line-height: 19px;
  align-items: center;
  text-align: center;
  color: #86878b;
  background-color: #e2e2e2;
  border-radius: 7px;
  padding: 9px 22px 6px 23px;
  position: relative;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  overflow-wrap: break-word;
}

.testimonial-row-text::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 14px solid #e2e2e2;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
  top: 100%;
  left: 15%;
}

.testimonial-row-foto {
  display: flex;
  margin-top: 22px;
  justify-content: space-around;
}

.testimonial-row-foto-img {
  display: flex;
  border: 1px solid white;
  justify-content: center;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-left: 10px;
  align-items: center;
  overflow: hidden;
}

.testimonial-row-foto-name {
  font-weight: bold;
  font-size: 20px;
  line-height: 45px;
  color: #333333;
}

.testimonial-row-foto-position {
  font-size: 14px;
  line-height: 10px;
  color: #86878b;
}

.img-avatar {
  height: 100%;
}
.client {
  text-align: right;
  vertical-align: middle;
}
